.imageDisplayer{
    width: 600px;
    height: 600px;
    background-color: black;
    position:relative;
    display: flex;
    align-items: center;
}

.centerer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.colorContainer{
    width: 50px;
    height: 50px;
}

.littleLabels{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.toolbar{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    gap: 20px;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.iconContainers{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.icons{
    width: 50px;
    height: 50px;
    padding: 10px;

    position: relative
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltiptext{
    left: -50%;
    top: -20%;
}

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.Cross {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-image: url("/images/cross.png");
    background-size: cover;
}


.Tenant {
    height: 100%;
    width: 100%;
    background-image: url("/images/shop.png");
    background-size: cover;}

.Toilet {
    height: 100%;
    width: 100%;
    background-image: url("/images/toilet.png");
    background-size: cover;
}

.Staircase {
    height: 100%;
    width: 100%;
    background-image: url("/images/stairs.png");
    background-size: cover;
}


.selected{
    border: 1px solid black;
}